<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/UM.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012 - 2016</h4>
                                    <h4 class="subheading">University of Miami</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">From 2012 through 2016 I worked to get a BS in Mechanical Engineering (Magna Cum Laude) with a Minor in Mathematics at the University of Miami. During this time I was given the chance to participate in many unique clubs such as SEDS, ASME, and EWB, and learn about a broad range of subjects like Orbital Mechanics, Control Theory, and much more.  </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/NASA.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012 - 2016</h4>
                                    <h4 class="subheading">Internships and Research</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Although my time as an undergraduate was filled with rigorous course work, I was also given the opportunity to participate in research and internships. Since starting college I have worked on data centers with Verizon, UAV's with NASA, and have researched CFD with department heads from my University.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/NU.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016 - Present</h4>
                                    <h4 class="subheading">Northwestern University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As of Fall 2016 I have been working to obtain my Master's in Robotics from Northwestern. Having already worked on path finding algorithms, microcontrollers, machine learning, and much more, I am greatly looking forward to what else the program has in store. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/unsure.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Looking Ahead</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Who's to say what the future has in store. One thing is for sure, I look forward to continuing to learn and work as I have been doing these past years.</p>
                                </div>
                            </div>                      
                    </ul>
                </div>
            </div>
        </div>
    </section>
